<div class="container"
     id="glass">
  <div class="info">{{title}}</div>
  <div class="info-container card-number-container">
    {{cardNumber}}
  </div>
  <div class="validity-container info-container">
    <div class="cvv-container">
      {{cvv}}
    </div>
    <div class="validity">
      <p class="validity-text">
        VALID
        <br>
        THRU
      </p>
      <p class="validity-date">
        {{validity}}
      </p>
    </div>
  </div>
  <div>
    {{cardHolder.toUpperCase()}}
  </div>
</div>
