<div class="app-container">
  <div class="cards-list"
       cdkDropList
       [cdkDropListData]="availableCards"
       (cdkDropListDropped)="drop($event)">
    <h2 class="cards-list-title">Your Cards</h2>
    <app-payment-card class="payment-card"
                      *ngFor="let card of availableCards"
                      [title]="card.title"
                      [cardHolder]="card.cardHolder"
                      [cardNumber]="card.cardNumber"
                      [cvv]="card.cvv"
                      [validity]="card.validity"
                      cdkDragLockAxis="y"
                      cdkDrag></app-payment-card>

  </div>
</div>
